In [35]:
import numpy as np
import pandas as pd
import math

In [36]:
def pairwise_dist(x, y):  # [5 pts]
    """
        Args:
            x: N x D numpy array
            y: M x D numpy array
        Return:
                dist: N x M array, where dist2[i, j] is the euclidean distance between
                x[i, :] and y[j, :]
    """
    #raise NotImplementedError
    return np.linalg.norm(x[:, None, :] - y[None, :, :], axis=-1)

In [37]:
cities = pd.read_csv("data/ds2.csv")
cities = cities.rename(columns = {'Unnamed: 0':'city_id'})
cities.shape

(950, 50)

In [38]:
data_us = pd.read_csv('data/uscities.csv')

data_us = data_us[['city', 'state_id', 'state_name', 'county_name', 'lat', 'lng']]
data_us['city_name_id'] = data_us.apply(lambda x: x['city'] + ", " + x['state_name'] + ", " + x['county_name'] + " County", axis = 1)
data_us['city_state_id'] = data_us.apply(lambda x: x['city'] + ", " + x['state_name'], axis = 1)

data_cities = cities.copy()
data_cities['city_name_id'] = data_cities.apply(lambda x: x['City'] + ", " + x['State'] + ", " + x['County'], axis = 1)
data_cities['city_state_id'] = data_cities.apply(lambda x: x['City'] + ", " + x['State'], axis = 1)

city_all = data_cities.merge(data_us, on = 'city_name_id', how = 'left')
city_all = city_all.rename(columns = {'city_state_id_x':'city_state'})
city_all = city_all[~city_all['lat'].isna()]
city_all = city_all[~city_all['lng'].isna()]
city_all = city_all.drop(columns = ['city_id', 'city_state_id_y'])
city_all = city_all.reset_index(drop = True)
city_all = city_all.reset_index()
city_all = city_all.rename(columns = {'index':'city_id'})
city_all.to_csv('data/city_all.csv', index = False)
city_all.shape

(919, 58)

In [28]:
city_all[city_all['lng'].isna()][['city_id', 'city_state', 'lat', 'lng']]

Empty DataFrame
Columns: [city_id, city_state, lat, lng]
Index: []

In [17]:
meta_columns = ['city_id', 'State', 'County', 'State Abbreviation', 'city_name_id', 'city_state', 'city', 'City', 'state_id', 'county_name', 'state_name', 'lat', 'lng']
city_metadata = city_all[meta_columns]
city_metadata.to_csv('data/city_metadata.csv', index = False)

In [18]:
def id_to_city(city_id):
    return pd.read_csv('data/city_metadata.csv').iloc[[city_id]]
id_to_city(10)

,city_id,State,County,State Abbreviation,city_name_id,city_state,city,City,state_id,county_name,state_name,lat,lng
10,10,Texas,Travis County,TX,"Austin, Texas, Travis County","Austin, Texas",Austin,Austin,TX,Travis,Texas,30.3005,-97.7522

In [19]:
city_df = city_all.drop(columns = meta_columns)
# delete_cols = ['city_state_id_y', 'state_id', 'city_name_id', 'city', 'state_name', 'county_name']
# city_df = city_df.drop(columns = delete_cols)
city_df.head()

,Average Household Income 2020/2021,"Percent Change in Household Income, 1984-2019","Average Yearly Percent Change in Household Income, 1984-2019",MinWage,Average House Price 2020/2021,"Percent Change in Housing Prices, 2000-2019","Average Yearly Percent Change in Housing Prices, 2000-2019",Violent Crime Total,Property Crime Total,Property Crime Per Capita,...,Walk,OtherTransp,WorkAtHome,MeanCommute,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Population
0,-0.136317,0.851226,0.851226,0.855108,1.045961,1.230131,1.230131,18.378204,14.963376,-0.662457,...,1.627811,-0.553042,-1.312925,3.828220,-0.203596,0.226288,0.006249,-0.591108,-0.016201,23.673822
1,0.737962,0.014144,0.014144,1.139948,1.393001,1.882940,1.882940,10.946839,9.795925,-0.165898,...,0.092612,0.256218,0.250712,1.128201,-0.239062,-0.512411,1.786000,0.071967,0.417355,10.737820
2,0.457552,0.224546,0.224546,0.427849,-0.363198,-0.868798,-0.868798,NaN,NaN,NaN,...,0.845506,0.347146,-0.302575,1.687189,0.671963,-0.320016,-0.911262,-0.591108,1.564181,7.403277
3,-0.416098,-0.755247,-0.755247,-1.263387,-0.588687,-0.388227,-0.388227,10.953656,11.118278,1.514108,...,-0.560289,-0.034752,-0.771666,0.529134,0.669746,-0.873447,0.359989,-0.093802,-0.132749,5.907363
4,-0.042637,1.850164,1.850164,-1.263387,-0.602243,0.856306,0.856306,NaN,NaN,NaN,...,3.374761,1.256428,-0.807750,1.533204,0.654230,-0.168001,-1.204202,-1.088414,2.240155,4.068471

In [20]:
city_columns = list(enumerate(city_df.columns))
city_columns

[(0, 'Average Household Income 2020/2021'),
 (1, 'Percent Change in Household Income, 1984-2019'),
 (2, 'Average Yearly Percent Change in Household Income, 1984-2019'),
 (3, 'MinWage'),
 (4, 'Average House Price 2020/2021'),
 (5, 'Percent Change in Housing Prices, 2000-2019'),
 (6, 'Average Yearly Percent Change in Housing Prices, 2000-2019'),
 (7, 'Violent Crime Total'),
 (8, 'Property Crime Total'),
 (9, 'Property Crime Per Capita'),
 (10, 'Violent Crime Per Capita'),
 (11, 'Total Crime Per Capita'),
 (12, 'TotalPop'),
 (13, 'Men'),
 (14, 'Women'),
 (15, 'VotingAgeCitizen'),
 (16, 'Employed'),
 (17, 'Hispanic'),
 (18, 'White'),
 (19, 'Black'),
 (20, 'Native'),
 (21, 'Asian'),
 (22, 'Pacific'),
 (23, 'Income'),
 (24, 'IncomePerCap'),
 (25, 'Poverty'),
 (26, 'ChildPoverty'),
 (27, 'Professional'),
 (28, 'Service'),
 (29, 'Office'),
 (30, 'Construction'),
 (31, 'Production'),
 (32, 'Drive'),
 (33, 'Carpool'),
 (34, 'Transit'),
 (35, 'Walk'),
 (36, 'OtherTransp'),
 (37, 'WorkAtHome'),
 (38, 'MeanCommute'),
 (39, 'PrivateWork'),
 (40, 'PublicWork'),
 (41, 'SelfEmployed'),
 (42, 'FamilyWork'),
 (43, 'Unemployment'),
 (44, 'Population')]

In [21]:
city_np = np.array(city_df)
city_np.shape

(919, 45)

In [22]:
city_np

array([[-1.36317125e-01,  8.51225950e-01,  8.51225950e-01, ...,
        -5.91107781e-01, -1.62011840e-02,  2.36738216e+01],
       [ 7.37961649e-01,  1.41441490e-02,  1.41441490e-02, ...,
         7.19670230e-02,  4.17354867e-01,  1.07378196e+01],
       [ 4.57551781e-01,  2.24546057e-01,  2.24546057e-01, ...,
        -5.91107781e-01,  1.56418055e+00,  7.40327713e+00],
       ...,
       [ 1.35302461e+00,  2.79941865e+00,  2.79941865e+00, ...,
         2.37735724e-01, -1.24694094e+00, -2.69370536e-01],
       [-3.43854299e-01,  7.78758422e-01,  7.78758422e-01, ...,
        -7.56876483e-01,  4.90653190e-02, -2.69565082e-01],
       [-1.32623241e+00, -6.54708389e-01, -6.54708389e-01, ...,
         1.23234793e+00, -2.44633941e-01, -2.69596553e-01]])

In [23]:
cities_dist = None
cities_nn = None
if True:
    cities_dist = pairwise_dist(city_np, city_np) #.tofile('data/pairwise_city_dist.csv', sep = ',')
    #np.savetxt("data/city_pairwise_dist.csv", cities_dist, delimiter=",")
    temp = pd.DataFrame(cities_dist)
    temp.to_csv("data/city_distances.csv", index = False)
    cities_nn = pd.DataFrame(np.argsort(cities_dist))
    #np.savetxt("data/city_nn_ranked.csv", cities_nn, delimiter=",")
    cities_nn.to_csv("data/city_nn.csv", index = False)
    cities_dist = temp
    del temp
else:
    cities_dist = np.array(pd.read_csv("data/city_distances.csv"))
    cities_nn = np.array(pd.read_csv("data/city_nn.csv"))

In [24]:
np.sum(cities_nn, axis = 1)

0      421821
1      421821
2      421821
3      421821
4      421821
        ...
914    421821
915    421821
916    421821
917    421821
918    421821
Length: 919, dtype: int64

In [25]:
def get_nn(city_id, n = 5):
    """
        Args:
            city_id: int
            n: int
        Return:
            nearest_neighbors: (n,) ndarray, where nearest_neighbors[i] is the city_id of the i'th most similar city
    """

    #Don't include the first column since it will always be itself (distances between a city and itself is 0 miles)
    dta = cities_nn.iloc[city_id, 1:n+1]

    return dta
    
get_nn(25, 5)

1    605
2    606
3    607
4    608
5    609
Name: 25, dtype: int64

In [35]:
cities_nn.head()

,0,1,2,3,4,5,6,7,8,9,...,682,683,684,685,686,687,688,689,690,691
0,0,1,2,3,4,6,5,10,16,17,...,491,470,353,642,560,515,316,569,660,40
1,1,2,3,4,6,5,25,16,12,8,...,353,642,515,86,560,470,316,569,660,40
2,2,4,6,1,3,15,12,17,13,9,...,642,421,436,676,480,483,470,367,0,40
3,3,6,4,5,12,9,27,8,22,11,...,86,316,660,10,676,483,569,367,40,0
4,4,6,3,12,9,19,11,8,26,17,...,421,676,483,470,436,480,10,367,40,0

In [37]:
city_metadata.columns

Index(['city_id', 'State', 'County', 'State Abbreviation', 'city_name_id',
       'city_state', 'city', 'City', 'state_id', 'county_name', 'state_name',
       'lat', 'lng'],
      dtype='object')

In [26]:
nearest_neighbors = pd.concat([city_metadata, cities_nn.iloc[:, 1:21]], axis = 1)

nearest_neighbors['city_county'] = nearest_neighbors.apply(lambda x: x['City'] + ', ' + x['County'], axis = 1)
nearest_neighbors['city_st_abbr'] = nearest_neighbors.apply(lambda x: x['City'] + ', ' + x['State Abbreviation'], axis = 1)

nearest_neighbors.to_csv('data/nearest_neighbors.csv', index = False)

In [27]:
pd.read_csv('data/nearest_neighbors.csv')

,city_id,State,County,State Abbreviation,city_name_id,city_state,city,City,state_id,county_name,...,13,14,15,16,17,18,19,20,city_county,city_st_abbr
0,0,New York,Queens County,NY,"New York, New York, Queens County","New York, New York",New York,New York,NY,Queens,...,22,17,28,9,14,26,41,16,"New York, Queens County","New York, NY"
1,1,California,Los Angeles County,CA,"Los Angeles, California, Los Angeles County","Los Angeles, California",Los Angeles,Los Angeles,CA,Los Angeles,...,12,270,217,161,102,135,9,280,"Los Angeles, Los Angeles County","Los Angeles, CA"
2,2,Illinois,Cook County,IL,"Chicago, Illinois, Cook County","Chicago, Illinois",Chicago,Chicago,IL,Cook,...,616,618,619,620,621,622,623,624,"Chicago, Cook County","Chicago, IL"
3,3,Texas,Harris County,TX,"Houston, Texas, Harris County","Houston, Texas",Houston,Houston,TX,Harris,...,34,24,7,43,20,42,30,44,"Houston, Harris County","Houston, TX"
4,4,Pennsylvania,Philadelphia County,PA,"Philadelphia, Pennsylvania, Philadelphia County","Philadelphia, Pennsylvania",Philadelphia,Philadelphia,PA,Philadelphia,...,616,618,619,620,621,622,623,624,"Philadelphia, Philadelphia County","Philadelphia, PA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,914,Texas,Hidalgo County,TX,"Weslaco, Texas, Hidalgo County","Weslaco, Texas",Weslaco,Weslaco,TX,Hidalgo,...,616,618,619,620,621,622,623,624,"Weslaco, Hidalgo County","Weslaco, TX"
915,915,Oregon,Marion County,OR,"Keizer, Oregon, Marion County","Keizer, Oregon",Keizer,Keizer,OR,Marion,...,284,505,299,499,208,916,403,683,"Keizer, Marion County","Keizer, OR"
916,916,Utah,Utah County,UT,"Spanish Fork, Utah, Utah County","Spanish Fork, Utah",Spanish Fork,Spanish Fork,UT,Utah,...,287,674,222,915,899,340,799,659,"Spanish Fork, Utah County","Spanish Fork, UT"
917,917,Wisconsin,Rock County,WI,"Beloit, Wisconsin, Rock County","Beloit, Wisconsin",Beloit,Beloit,WI,Rock,...,616,618,619,620,621,622,623,624,"Beloit, Rock County","Beloit, WI"
918,918,Florida,Bay County,FL,"Panama City, Florida, Bay County","Panama City, Florida",Panama City,Panama City,FL,Bay,...,157,759,640,415,79,68,520,289,"Panama City, Bay County","Panama City, FL"